@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    font-style: normal;
    line-height: 28px;
    font-family: 'Poppins';
    text-decoration: none;
}

body
{
    background-color: #FFFFFF;
    max-width: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2
{
    font-size: 48px;
    line-height: 50px;
}

p
{
    color: #6a6a74;
}

a
{
    font-size: 18px;
    color: #000;
}

span
{
    font-weight: 600;
}

#content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    min-height: 500px;
}

@media screen and (max-width: 690px) {
    *
    {
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    h1, h2
    {
        font-size: 30px;
    }
}
