@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    font-style: normal;
    line-height: 28px;
    font-family: 'Poppins';
    text-decoration: none;
}

body
{
    background-color: #FFFFFF;
    max-width: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
}

h2
{
    font-size: 48px;
    line-height: 50px;
}

p
{
    color: #6a6a74;
}

a
{
    font-size: 18px;
    color: #000;
}

#content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}