/* Cards */
.work-cards,
.feature-cards,
.blog-cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    justify-items: center;
    justify-content: center;
}

/* Home header */
.header
{
    color: #fff;
    height: 100vh; 
}

.wrap-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.wrap-container > *
{
    margin: auto;
}
.header-description
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-description > *
{
    width: 70%;
}
.header-description > h1
{
    font-size: 50px;
    line-height: 50px;
}
.header-description > p
{
    color: #BBBBCB;
}

.link-buttons
{
    margin-top: 55px;
}

.radius-button
{
    display: inline-block;
    padding: 15px 10px 15px;
    min-width: 200px;
    border-radius: 30px;

    text-align: center;
    background-color: #FCD980;
    color: #000;
}

.radius-button:hover
{
    background-color: #fdd05d;
}

.arrow-button
{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin-left: 25px;

    text-align: center;
    color: #fff;
}

#right-arrow
{
    font-size: 22px;
}

/* How we work */
#How-work > .container
{
    flex-direction: row;
    align-items: baseline;
}
.wrap-heading
{
    width: 70%;
    margin: auto;
}

.work-cards
{
    row-gap: 15px;
    column-gap: 15px;
}

/* Features */
#Features
{
    background-color: #F4F6FC;
}

.features-heading
{
    text-align: center;
}

.feature-cards
{
    gap: 50px;
}

.feature-cards > .card
{
    background-color: #FFFFFF;
}

/* Our projects */
#Our-projects > .container
{
    align-items: normal;
}
.projects-heading > .wrap-heading
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-blocks > .card
{
    margin-bottom: 50px;
}

.project-blocks > .card .card-container
{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: #1C1E53;
    padding: 0;
}
.project-blocks > .card .card-container > .conteiner-image
{
    height: 400px;
}
.project-blocks > .card .card-container > .conteiner-image img
{
    max-width: none;
    width: 100%;
    height: auto;
}

.project-blocks > .card .card-container > .card-description
{
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
}

/* Our blog */
.blog-heading > .wrap-heading
{
    width: auto;
}

#Our-blog
{
    background-color: #F4F6FC;
}

.blog-cards
{
    gap: 50px;
}

.blog-cards > .card
{
    background-color: #FFFFFF;
}

@media screen and (max-width: 1365px){
    #How-work > .container
    {
        text-align: center;
    }
    .projects-heading > .wrap-heading
    {
        margin-bottom: 20px;
    }
    .project-blocks > .card .card-container
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-blocks > .card .card-container > .conteiner-image {
        height: auto;
    }
}

@media screen and (max-width: 1100px){
    .header-description > *
    {
        text-align: center;
    }
    .projects-heading > .wrap-heading
    {
        justify-content: center;
    }
    .projects-heading > .wrap-heading h2
    {
        margin: 5%;
    }
}

@media screen and (max-width: 550px) {
    .header-description > *
    {
        width: auto;
    }

    .header-description > h1
    {
        font-size: 30px;
    }

    .project-blocks > .card .card-container > .card-description
    {
        width: auto;
    }
}

@media screen and (max-width: 330px) {
    .work-cards,
    .feature-cards,
    .blog-cards
    {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }
}