body
{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#main
{
    min-width: 100%;
    background-color: aqua;
}

.text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.wrap
{
    display: flex;
    justify-content: center;

    text-align: center;
}
.wrap>p
{
    width: 50%;
}