#AboutUs
{
    margin-top: 100px;
}
.container
{
    margin: 0 auto;
    margin-bottom: 30px;
    /* text-align: center; */
    /* width: 95%; */
    /* height: 300px; */
    min-height: 500px;

    /* border: ridge 2px black; */
}