#Contact-us
{
    margin-top: 100px;
}
.container
{
    margin: 0 auto;
    margin-bottom: 30px;
    /* text-align: center; */
    /* width: 95%; */
    /* height: 300px; */
    min-height: 500px;
    /* border: ridge 2px black; */
}

.contact-heading
{
    text-align: center;
}

.container-contact
{
    margin-top: 70px;
    margin-bottom: 170px;
}
form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;

    background-color: #F4F6FC;
    padding: 15px 15px 15px 35px;
    border-radius: 10px;
    
    text-align: start;
}

.wrap-boxes
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.right-box, .left-box
{
    min-width: 50%;
}

label > input,
label > textarea
{
    width: 90%;
    border-radius: 5px;
    border: solid 1px #ababb9;
    padding: 10px;
    font-size: 16px;
}

label > textarea
{
    width: 95%;
}
label > p
{
    color: black;
    font-weight: 700;
}

.wrap-button
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrap-button > a
{
    display: inline-block;
    text-align: center;
    padding: 15px 10px 15px;
    min-width: 200px;
    border-radius: 30px;
    background-color: #282938;
    color: #ffff;
}

.wrap-button > a:hover
{
    background-color: #4b4d69;
}

@media screen and (max-width: 704px){
    form
    {
        width: auto;
        align-items: center;
    }
    .right-box, .left-box
    {
        min-width: 100%;
    }
    .wrap-textarea
    {
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .right-box, .left-box
    {
        min-width: 95%;
    }
    label > input
    {
        width: 90%;
    }
}