@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    /* font-size: 16px; */
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body
{
    background-color: #FFFFFF;
    max-width: 100%;
    margin: 0 auto;
}

h2
{
    font-size: 48px;
    line-height: 50px;
}

p
{
    color: #6a6a74;
}

a
{
    font-size: 18px;
    color: #000;
}
#page
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav
{
    background-color: #1C1E53;  
    /* box-shadow: black 0 -13px 35px -5px; */
}

#main-nav-menu
{
    display: inline;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s;

    background-color: #1C1E53;
}

#main-nav-menu.scrolled
{
    background-color: hsla(238, 59%, 30%, 0.95);
}

.nav-menu
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin: auto;
    height: 80px;
    width: 90%;
}

.nav-logo
{
    cursor: pointer;
    margin-right: auto;
}

.nav-container
{
    width: 70%;
    margin-right: 3%;
}

.menu 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /* padding: 0; */
    gap: 5%;

    list-style: none;
}

.item > a
{
    color: #BBBBCB;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
}

.item > a:hover
{
    color: #FFFFFF;
}

.cta-button
{
    /* width: 100%; */
    height: 60px;
    padding: 9px 20px ;
    flex-shrink: 0;
    
    cursor: pointer;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    background-color: #1C1E53;
    color: #FFFFFF;
}

.cta-button:hover
{
    background-color: hsl(238, 59%, 30%);
}

.navigation-toggle
{
    display: none;
}

.bar
{
    display: block;

    margin: 6px 0;
    width: 22px;
    height: 2.5px;
    background-color: #BBBBCB;
}

.responsive-menu 
{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: -20px;
    width: 100%;
    height: 100%;
    background-color: hsla(238, 59%, 30%, 0.897);
    z-index: 1000; /* велике значення z-index, щоб виводити над іншими елементами */
}

.cross-click > span
{
    content: "\00D7";
    font-size: 50px;
    color:#BBBBCB;
    position: fixed;
    right: 40px;
    top: 30px;
}

.cross-click > span:hover
{
    color: #fff;
}

.menu-container
{
    margin: 3em 0 5em 0;
}

.responsive-navbar
{
    display: flex;
    flex-direction: column;
    align-content: center;

    list-style: none;
}

.responsive-item
{
    margin: 30px 0 30px 0;
}

.responsive-item > a
{
    color: #BBBBCB;
    font-size: 40px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.responsive-item > a:hover
{
    color: #FFFFFF;
}

.header
{
    color: #fff;
    height: 100vh; 
}

.wrap-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.wrap-container > *
{
    margin: auto;
}
.header-description
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-description > *
{
    /* text-align: center; */
    width: 70%;
}
.header-description > h1
{
    font-size: 50px;
    line-height: 50px;
}
.header-description > p
{
    color: #BBBBCB;
}

.link-buttons
{
    margin-top: 55px;
}

.radius-button
{
    display: inline-block;
    padding: 15px 10px 15px;
    min-width: 200px;
    border-radius: 30px;

    text-align: center;
    background-color: #FCD980;
    color: #000;
}

.radius-button:hover
{
    background-color: #fdd05d;
}

.arrow-button
{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin-left: 25px;

    text-align: center;
    /* font-size: 15px; */
    color: #fff;
}

#right-arrow
{
    font-size: 22px;
}

#content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section
{
    /* display: flex; */
}

.container
{
    margin: 0 auto;
    margin-bottom: 30px;
    /* text-align: center; */
    /* width: 95%; */
    /* height: 300px; */
    min-height: 500px;

    /* border: ridge 2px black; */
}

#How-work
{
    background-color: #fff;
}

#How-work > .container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}

.work-heading
{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
}

.wrap-heading
{
    /* text-align: center; */
    width: 85%;
    margin-bottom: 30px;
}

.wrap-heading > a
{
    color: #2405F2;
}

.work-cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    column-gap: 10px;
    row-gap: 5px;
    /* width: 45%; */
    justify-items: center;
    justify-content: center;
}

.card > h3
{
    font-size: 32px;
}

.card > p
{
    font-size: 16px;
}



#Features
{
    background-color: #F4F6FC;
    /* justify-content: center; */
}

#Features > .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-heading
{
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrap-features-heading
{
    width: 70%;
}

.feature-cards
{
    display: flex;
    justify-content: center;
    width: 70%;
}

.wrap-feature-cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 150fr));
    justify-items: center;
    justify-content: center;
    gap: 50px;
}

.card-feature
{
    background-color: #FFFFFF;
}

.card-container
{
    display: block;
    padding: 45px 55px 45px 55px;
}
.card-container > a
{
    color: #2405F2;
}
.card-feature > h3
{
    font-size: 32px;
}

.card-feature > p
{
    font-size: 16px;
}


#Our-projects > .container
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.wrap-projects-heading
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 80%;
    margin: auto;
}

.block
{
    margin-bottom: 50px;
}

.wrap-block
{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;

    width: 80%;
    margin: auto;
    background-color: #1C1E53;
}

.container-project-images
{
    height: 400px;
}

.container-project-images > img
{
    width: 100%;
    height: auto;
}
.wrap-description
{
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
}

.wrap-description > h3
{
    color: #fff;
}
.wrap-description > p
{
    color: #BBBBCB;
}

.wrap-description > .radius-button
{
    min-width: 10%;
}

#Our-blog
{
    background-color: #F4F6FC;
}

#Our-blog > .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 100px; */
}

.blog-heading
{
    display: flex;
    justify-content: center;
}

.container-image
{
    /* height: 400px; */
}
.container-image > img
{
    max-width: 100%;
    height: auto;
}

#footer
{
    bottom: 0;
    margin-top: auto;
    
    background-color: #1C1E53;
    border: ridge 2px black;
}

.container-footer
{
    padding-bottom: 20px;

    border: ridge 2px black;
    
    text-decoration: none;
    list-style: none;

    
}

.weight-wrap
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2em;
    margin-top: 20px;
}

.discription
{
    margin: auto;
    width: 50%;

    /* border: ridge 2px black; */
    color: #FFFFFF;
}

.discription > p, .contacts > p
{
    color: #BBBBCB;
}

.contacts
{
    display: flex;
    flex-direction: column;
    
    margin: auto;
    width: 50%;

    /* border: ridge 2px black; */
    color: #FFFFFF;
}

.footer-bottom
{
    padding: 20px 20px 20px 20px;
    
    background-color: #FFFFFF;
}

.container-bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    
    flex-wrap: wrap;

    color: #000;
}

.footer-menu
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

@media screen and (max-width: 1400px){

    .wrap-block
    {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 1100px){
    .navigation-toggle {
        display: block;
        margin-left: 10px;
        background-color: hsla(238, 59%, 30%, 0.0);
        border: none;
    }


    .responsive-menu.active 
    {
        display: block;
    }

    .nav-container
    {
        display: none;
    }
    .header-description > *
    {
        text-align: center;
    }
    .vanilla-blocks
    {
        display: none;
    }

        .container
    {
        text-align: center;
    }

    .wrap-projects-heading > a
    {
        margin: auto;
    }
    .container-project-images {
        height: auto;
    }
    .wrap-description {
        width: 70%;
        margin: auto;
    }
}
@media screen and (max-width: 725px)
{   
    h2
    {
        font-size: 26px;
    }
    .header-description > h1
    {
        font-size: 30px;
    }

    .container-bottom
    {
        justify-content: center;
    }
    .footer-menu
    {
        display: none;
    }
    .weight-wrap
    {
        text-align: center;
    }
}

@media screen and (max-width: 290px)
{
    .nav-menu
    {
        width: auto;
    }
    .cta-button
    {
        padding: 9px 10px;
    }
    .work-cards
    {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }
    .wrap-feature-cards
    {
        grid-template-columns: repeat(auto-fit, minmax(10em, 150fr));
    }
    .discription
    {
        width: 70%;
    }
    .contacts
    {
        width: 70%;
    }
}