body
{
    background-color: #FFFFFF;
    max-width: 100%;
    margin: 0 auto;
}

*
{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#page
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav
{
    background-color: #1C1E53;  
    /* box-shadow: black 0 -13px 35px -5px; */
}

#main-nav-menu
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #1C1E53;
}

.nav-wrapper
{
    display: flex;
    justify-content: center;
}
.nav-menu
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    /* margin-left: 2%;
    margin-right: 2%; */
    height: 80px;
    width: 80%;
}

.nav-logo
{
    cursor: pointer;
    margin-right: auto;
}

.nav-container
{
    width: 70%;
    margin-right: 3%;
}

.menu 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /* padding: 0; */
    gap: 5%;

    list-style: none;
}

.menu > .item
{
    color: #BBBBCB;

    /* margin: 0 auto; */
    /* margin-left: auto; */


    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item:hover
{
    color: #FFFFFF;
}

button
{
    width: 185px;
    height: 60px;
    padding: 9px 20px ;
    flex-shrink: 0;
    
    cursor: pointer;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    background-color: #1C1E53;
    color: #FFFFFF;
}

button:hover
{
    background-color: #1f2279;
}

.header
{
    width: 100%;
    /* min-height: 500px; */
}

#content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section
{
    display: flex;
}

.container
{
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    width: 85%;
    /* height: 300px; */
    min-height: 300px;

    border: ridge 2px black;
}

#How-work
{
    background-color: #F4F6FC;
}

#Features
{
    background-color: #F4F6FC;
    /* justify-content: center; */
}

#Comments
{
    background-color: #eef0f5;
}

#footer
{
    bottom: 0;
    margin-top: auto;
    
    background-color: #1C1E53;
    border: ridge 2px black;
}

.container-footer
{
    padding-bottom: 20px;

    border: ridge 2px black;
    
    text-decoration: none;
    list-style: none;

    
}

.weight-wrap
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    /* width: 80%; */
    gap: 2em;
}

.discription
{
    margin: auto;
    width: 50%;

    /* border: ridge 2px black; */
    color: #FFFFFF;
}

.contacts
{
    display: flex;
    flex-direction: column;
    
    margin: auto;
    width: 50%;

    /* border: ridge 2px black; */
    color: #FFFFFF;
}

.footer-bottom
{
    padding: 20px 20px 20px 20px;
    
    background-color: #FFFFFF;
}

.container-bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    
    flex-wrap: wrap;

    color: #000;
}

.footer-menu
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

@media (max-width: 550px)
{
    .container-bottom
    {
        justify-content: center;
    }
    .footer-menu
    {
        padding-top: 10px;
    }
}