.contacts-block
{
    display: flex;
    flex-direction: column;

    max-width: 350px;
    padding: 5px 5px 5px 15px;
    background-color: #FCD980;
}

.contacts-block a
{
    font-weight: 800;   
    padding-left: 5%;
}

.email, 
.phone
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


@media screen and (max-width: 690px) {
    .discription,
    .contacts
    {
        width: auto;    
    }
    .contacts > ul,
    .email, 
    .phone
    {
        justify-content: center;
    }
    
    .contacts-block
    {
        max-width: 100%;
    }
    
}

/* @media screen and (max-width: 550px) {
    .contacts > .wrap-container a
    {
        font-size: 12px;
    }
} */

@media screen and (max-width: 330px) {
    .weight-wrap
    {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }
    .email a, 
    .phone a
    {
        font-size: 15px;
    }
}